- var now = new Date()
- now.setUTCHours(now.getUTCHours() - now.getTimezoneOffset() / 60)
- var isBehindBirthday =
-   now.getUTCMonth() < 7 || (now.getUTCMonth() == 7 && now.getUTCDate() < 4)
- var age = now.getUTCFullYear() - 2003 - (isBehindBirthday ? 1 : 0)
- var article = age == 18 ? `An` : `A`
- var about = `${article} ${age}-year-old human passionate about technology.`

doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title snejugal
    meta(name="viewport", content="width=device-width")
    meta(name="theme-color", content="#0D0E14")
    meta(name="description", content=about)
    link(rel="shortcut icon", href="./images/favicon.svg")
    link(rel="stylesheet", href="./style.p.css")
  body
    header.header
      picture.header_me
        source(
          srcset="./images/me/1x.avif 1x, ./images/me/2x.avif 2x, ./images/me/3x.avif 3x,",
          type="image/avif"
        )
        source(
          srcset="./images/me/1x.webp 1x, ./images/me/2x.webp 2x, ./images/me/3x.webp 3x,",
          type="image/webp"
        )
        img(
          width="192",
          height="192",
          src="./images/me/1x.jpg",
          srcset="./images/me/2x.jpg 2x, ./images/me/3x.jpg 3x",
          alt="Me"
        )
      h1.header_name snejugal
      p.header_about
        =about
        |
        | Student at Innopolis University. Rust engineer at
        |
        a.link(href="https://invian.ru", rel="noreferrer") Invian
        | .
      ul.contacts
        li.contact
          a.contact_link(href="https://t.me/snejugal", rel="noreferrer")
            include ./images/social/telegram.svg
        li.contact
          a.contact_link(href="mailto:contact@snejugal.ru")
            include ./images/social/email.svg
        li.contact
          a.contact_link(href="https://gitlab.com/snejugal", rel="noreferrer")
            include ./images/social/gitlab.svg
        li.contact
          a.contact_link(href="https://github.com/snejugal", rel="noreferrer")
            include ./images/social/github.svg
        li.contact
          a.contact_link(href="https://t.me/snejugal_blog", rel="noreferrer")
            include ./images/social/blog.svg

    section.section#projects
      a(href="#projects").section_title
        h2 Projects

      ul.section_list
        li.item.-large#linux-cmd
          picture.item_icon
            source(
              srcset="./images/projects/linux-cmd/1x.avif 1x, ./images/projects/linux-cmd/2x.avif 2x, ./images/projects/linux-cmd/3x.avif 3x,",
              type="image/avif"
            )
            source(
              srcset="./images/projects/linux-cmd/1x.webp 1x, ./images/projects/linux-cmd/2x.webp 2x, ./images/projects/linux-cmd/3x.webp 3x,",
              type="image/webp"
            )
            img.item_icon(
              width="128",
              height="128",
              src="./images/projects/linux-cmd/1x.png",
              srcset="./images/projects/linux-cmd/2x.png 2x, ./images/projects/linux-cmd/3x.png 3x",
              alt=""
            )
          a(href="#linux-cmd").item_title
            h3 Linux command line course
          p.item_about
            | A course about Unix-like operating systems and shell programming
            | with interesting practical tasks. I am the primary author of the
            | course. It has already received positive feedback from students,
            | yet more chapters and tasks are coming soon.
          ul.item_links
            li
              a.item_link(href="https://stepik.org/a/171984", rel="noreferrer")
                | Check out the course

        li.item.-large#tbot
          img.item_icon(src="./images/projects/tbot.svg", alt="")
          a(href="#tbot").item_title
            h3 tbot
          p.item_about
            | A Rust framework for making Telegram bots. It abstracts
            | the hard parts away, providing you with a nice API.
            | It fully implements Bot API and is powered by futures.
          ul.item_links
            li
              a.item_link(href="https://tbot.rs", rel="noreferrer")
                | Visit tbot.rs
            li
              a.item_link(href="https://crates.io/crates/tbot", rel="noreferrer")
                | tbot on crates.io
            li
              a.item_link(href="https://gitlab.com/snejugal/tbot", rel="noreferrer")
                | tbot on GitLab

        li.item#typedKanren
          a(href="#typedKanren").item_title
            h3 typedKanren
          p.item_about
            | A miniKanren dialect in Haskell. Its distinct features are static
            | typing and exhaustive pattern matching. I have presented it at the
            | JointMETA seminar in Russia, and a paper has been accepted for
            | miniKanren 2024.
          ul.item_links
            li
              a.item_link(href="https://github.com/snejugal/typedKanren", rel="noreferrer")
                | typedKanren on GitHub
            li
              a.item_link(href="./materials/typedKanren.pdf", rel="noreferrer")
                | JointMETA slides

        li.item#wubix
          a(href="#wubix").item_title
            h3 Wubix
          p.item_about
            | Wubix is a web app that resembles a Unix-like OS, written in
            | Rust using WebAssembly. You can write your own programs for it,
            | compile and run them in Wubix.
          ul.item_links
            li
              a.item_link(href="https://wubix.snejugal.ru", rel="noreferrer")
                | Try Wubix
            li
              a.item_link(href="https://gitlab.com/SnejUgal/wubix", rel="noreferrer")
                | Wubix on GitLab

        li.item#attheme-editor
          a(href="#attheme-editor").item_title
            h3 .attheme editor
          p.item_about
            | A powerful editor of themes for Telegram for Android, while also
            | easy-to-use. It features tabs, search through variables,
            | color palettes, variable previews and many other features.
          ul.item_links
            li
              a.item_link(href="https://attheme-editor.snejugal.ru", rel="noreferrer")
                | Try .attheme editor
            li
              a.item_link(href="https://github.com/snejugal/attheme-editor", rel="noreferrer")
                | .attheme editor on GitHub

        li.item#anonymous-feedback
          a(href="#anonymous-feedback").item_title
            h3 Anonymous Feedback
          p.item_about
            | Using Anonymous Feedback, a teacher can collect feedback from
            | students right during the class anonymously. It was a team project
            | at Innopolis University, and I coded the website as well as
            | designed it.
          ul.item_links
            li
              a.item_link(href="https://anonymous-feedback.snejugal.ru", rel="noreferrer")
                | Try Anonymous Feedback
            li
              a.item_link(href="https://github.com/InnoSWP/b21-02-anonymous-feedback", rel="noreferrer")
                | Anonymous Feedback on GitHub

    footer.footer
      | © 2003— snejugal. The source code for this website is available on
      |
      a.link(href="https://gitlab.com/snejugal/snejugal.ru", rel="noreferrer")
        | GitLab
      | .
